main {
  max-width: 1400px;
  padding-top: 20px;
  margin: 0 auto;
  padding: 0 40px;
}
main .container {
  padding-bottom: 96px;
}
main .container h1 {
  margin: 16px 0 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
main .container nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  height: 52px;
  border-bottom: 1px solid rgb(235, 235, 235);
  display: flex;
}
main .container nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .container nav ul li {
  position: relative;
  padding: 0 16px;
  margin-right: 24px;
  line-height: 52px;
  cursor: pointer;
}
main .container nav ul li .btn {
  font-size: 1rem;
  font-weight: 700;
  color: #70706F;
}
main .container nav ul li .active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #1273e4;
}
main .container nav ul li .active {
  color: #1273e4;
}
main .container .wrap .coupon {
  margin-top: 20px;
  display: grid;
  row-gap: 20px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 40px;
  padding: 0 40px;
}
main .container .wrap .coupon a {
  cursor: pointer;
}
main .container .wrap .coupon a .photo img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
main .container .wrap .coupon a .contents {
  padding: 12px 0 20px;
}
main .container .wrap .coupon a .contents h2 {
  font-family: PretendardBold;
  font-size: 1.125rem;
}
main .container .wrap .coupon a .contents p {
  color: #999;
  font-size: 0.875rem;
}
main .container .wrap .not_coupon {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 92px;
}
main .container .wrap .not_coupon h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #999;
}
main .container .wrap .not_coupon p {
  color: #c2c2c2;
  font-size: 0.938rem;
}

@media screen and (max-width: 1199px) {
  main {
    max-width: 1200px;
  }
  main .container .wrap .coupon {
    grid-template-columns: repeat(2, 1fr);
  }
  main .container .wrap .coupon .contents {
    padding: 12px 0 20px;
  }
  main .container .wrap .coupon .contents h2 {
    font-family: PretendardBold;
    font-size: 1rem !important;
  }
  main .container .wrap .coupon .contents p {
    color: #999;
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 899px) {
  main {
    padding: 0;
    max-width: 900px;
  }
  main .container nav ul li {
    margin-right: 15px;
    cursor: pointer;
  }
  main .container nav ul li .btn {
    font-size: 0.875rem;
    font-weight: 700;
    color: #70706F;
  }
}
@media screen and (max-width: 599px) {
  main {
    max-width: 600px;
  }
  main .container .wrap .coupon {
    grid-template-columns: repeat(1, 1fr);
  }
  main .container .wrap .coupon .contents {
    padding: 7px 0 10px;
  }
  main .container .wrap .coupon .contents h2 {
    font-family: PretendardBold;
    font-size: 1rem !important;
  }
  main .container .wrap .coupon .contents p {
    color: #999;
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=event.css.map */