.address_copy {
  display: none !important;
  width: 250px;
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.address_copy .copy {
  display: none;
  background: #333;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.address_copy .copy p {
  font-size: 0.875rem;
  color: #fff;
}

.reservation_num_copy {
  display: none !important;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.reservation_num_copy .copy {
  display: none;
  background: #333;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.reservation_num_copy .copy p {
  font-size: 0.875rem;
  color: #fff;
}

.purchase_information {
  display: none;
}
.purchase_information .bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 950;
  position: fixed;
}
.purchase_information .bg .information_container {
  margin-top: 100px;
  width: 600px;
  max-height: 800px;
  padding: 16px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
}
.purchase_information .bg .information_container .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.purchase_information .bg .information_container .title .close_btn i {
  width: 20px;
}
.purchase_information .bg .information_container .title h2 {
  color: #333;
  font-size: 1rem;
  padding: 10px 0 16px 40%;
}
.purchase_information .bg .information_container .information_box p img {
  width: 100%;
  height: 100%;
}
.purchase_information .bg .information_container .information_box h3 {
  font-size: 1.125rem;
  color: #333;
  padding: 30px 0;
  border-bottom: 1px solid #f5f5f5;
}
.purchase_information .bg .information_container .information_box .info .date {
  padding: 20px 0;
}
.purchase_information .bg .information_container .information_box .info .date dt {
  font-size: 0.938rem;
  color: #49627A;
  padding: 5px 0;
}
.purchase_information .bg .information_container .information_box .info .date dd {
  font-size: 0.938rem;
  color: #707070;
  padding: 5px 0;
}
.purchase_information .bg .information_container .information_box .info .use {
  padding: 20px 0;
}
.purchase_information .bg .information_container .information_box .info dt {
  font-size: 0.938rem;
  color: #556370;
  padding-bottom: 5px;
}
.purchase_information .bg .information_container .information_box .info dd {
  font-size: 0.938rem;
  color: rgba(0, 0, 0, 0.4784313725);
  padding: 5px 0;
  line-height: 1.5;
}
.purchase_information .bg .information_container .information_box .info .re_reservation {
  font-size: 1.125rem;
  color: #fff;
  background: #1273e4;
  padding: 10px 20px;
  display: block;
  text-align: center;
  border-radius: 6px;
}
.purchase_information .bg .information_container .information_box .info .re_reservation:hover {
  opacity: 90%;
}

.proof_payment {
  display: none;
}
.proof_payment .bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 950;
  position: fixed;
}
.proof_payment .bg .proof {
  display: none;
  width: 350px;
  height: 330px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
}
.proof_payment .bg .proof .title h2 {
  font-size: 1.125rem;
  color: #333;
  padding: 12px 0;
}
.proof_payment .bg .proof .title p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}
.proof_payment .bg .proof a {
  font-size: 1rem;
  color: #fff;
  background: #1273e4;
  padding: 15px 20px;
  display: block;
  margin: 20px 0;
  border-radius: 6px;
  text-align: center;
}
.proof_payment .bg .proof a:hover {
  opacity: 90%;
}
.proof_payment .bg .proof .close {
  color: rgba(0, 0, 0, 0.5607843137);
  background: #fff;
}
.proof_payment .bg .transaction_detail {
  display: none;
  width: 350px;
  height: 270px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.proof_payment .bg .transaction_detail p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px 0;
}
.proof_payment .bg .transaction_detail label {
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
}
.proof_payment .bg .transaction_detail label span {
  font-size: 0.813rem;
  color: #707070;
  margin: 5px 0;
}
.proof_payment .bg .transaction_detail label #email {
  background: #fff;
  border: 1px solid #f7323f;
  padding: 10px 20px;
  border-radius: 6px;
}
.proof_payment .bg .transaction_detail label .error {
  font-size: 0.75rem;
  color: #f45858;
}
.proof_payment .bg .transaction_detail .send_cancel {
  text-align: center;
  width: 100%;
}
.proof_payment .bg .transaction_detail .send_cancel #cancel {
  font-size: 1rem;
  color: #333;
  padding: 10px 65px;
  background: #ebebeb;
  border-radius: 6px;
}
.proof_payment .bg .transaction_detail .send_cancel #send {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.1607843137);
  padding: 10px 65px;
  background: #fafafa;
  border-radius: 6px;
}

.room_policy {
  display: none;
}
.room_policy .bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 950;
  position: fixed;
}
.room_policy .bg .policy {
  width: 390px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.room_policy .bg .policy .title {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px 10px;
  position: sticky;
}
.room_policy .bg .policy .title a i {
  width: 14px;
}
.room_policy .bg .policy .title h2 {
  font-size: 1rem;
  color: #333;
  padding-left: 30%;
}
.room_policy .bg .policy .policy_container {
  overflow-y: auto;
  padding: 0 10px;
  max-height: 740px;
}
.room_policy .bg .policy .policy_container .info p {
  display: flex;
  align-items: center;
  background: #1273e4;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 10px;
}
.room_policy .bg .policy .policy_container .info p i {
  color: #fff;
}
.room_policy .bg .policy .policy_container .info p span {
  font-size: 0.813rem;
  color: #fff;
  padding-left: 10px;
}
.room_policy .bg .policy .policy_container dl {
  padding: 31px 10px 20px;
}
.room_policy .bg .policy .policy_container dl dt {
  font-size: 0.938rem;
  color: #556370;
  padding: 10px 0;
}
.room_policy .bg .policy .policy_container dl dd {
  font-size: 0.938rem;
  color: rgba(0, 0, 0, 0.4784313725);
  padding-bottom: 10px;
}
.room_policy .bg .policy .policy_container dl .spacing {
  padding-bottom: 20px;
}

.reservation_check_cancel {
  display: none;
}
.reservation_check_cancel .bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 950;
  position: fixed;
}
.reservation_check_cancel .bg .check_cancel {
  width: 600px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.reservation_check_cancel .bg .check_cancel .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px 0;
}
.reservation_check_cancel .bg .check_cancel .title h2 {
  font-size: 1rem;
  color: #333;
}
.reservation_check_cancel .bg .check_cancel .wrap {
  max-height: 722px;
  overflow-y: auto;
  padding: 0 20px;
}
.reservation_check_cancel .bg .check_cancel .wrap .cancel_info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.reservation_check_cancel .bg .check_cancel .wrap .cancel_info p {
  width: 100%;
  background: #f45858;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.reservation_check_cancel .bg .check_cancel .wrap .cancel_info p i {
  color: #fff;
}
.reservation_check_cancel .bg .check_cancel .wrap .cancel_info p span {
  font-size: 0.813rem;
  color: #fff;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container p {
  font-size: 1.125rem;
  color: #333;
  font-weight: 600;
  padding: 15px 0;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container p em {
  font-size: 1.125rem;
  color: #f7323f;
  font-weight: 600;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container h3 {
  display: block;
  font-size: 1.125rem;
  color: #000;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .payment_date {
  padding: 15px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .payment_date .payment {
  display: flex;
  flex-flow: column nowrap;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .payment_date .payment span {
  font-size: 0.875rem;
  color: #999;
  padding-bottom: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .payment_date .date {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .payment_date .date span {
  font-size: 0.875rem;
  color: #333;
  padding-bottom: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .price_coupon {
  padding: 15px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .price_coupon .coupon {
  display: flex;
  flex-flow: column nowrap;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .price_coupon .coupon span {
  font-size: 0.875rem;
  color: #999;
  padding-bottom: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .price_coupon .coupon_use {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .price_coupon .coupon_use span {
  font-size: 0.875rem;
  color: #333;
  padding-bottom: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .all_price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .all_price span {
  font-size: 0.875rem;
  color: #999;
  padding: 10px 0;
}
.reservation_check_cancel .bg .check_cancel .wrap .price_container .all_price .price {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f45858;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info {
  background: #f45858;
  padding: 12px 24px;
  border-radius: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 16px 0;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .payment_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .payment_info .payment {
  display: flex;
  flex-flow: column nowrap;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .payment_info .payment span {
  font-size: 0.875rem;
  color: #fff;
  padding-bottom: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .payment_info .refund {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .payment_info .refund span {
  font-size: 0.875rem;
  color: #fff;
  padding-bottom: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .return_point {
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .return_point .return {
  display: flex;
  flex-flow: column nowrap;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .return_point .return span {
  font-size: 0.875rem;
  color: #fff;
  padding-bottom: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .return_point .point {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
}
.reservation_check_cancel .bg .check_cancel .wrap .refund_info .return_point .point span {
  font-size: 0.875rem;
  color: #fff;
  padding-bottom: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .cancellation {
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
}
.reservation_check_cancel .bg .check_cancel .wrap .cancellation span {
  font-size: 0.875rem;
  font-weight: 500;
  color: #707070;
  padding-bottom: 15px;
}
.reservation_check_cancel .bg .check_cancel .wrap .cancellation span em {
  font-size: 0.875rem;
  font-weight: 500;
  color: #f45858;
}
.reservation_check_cancel .bg .check_cancel .wrap .close_progress #close {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  background: #ebebeb;
  padding: 15px 110px;
  border-radius: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .close_progress #close:hover {
  opacity: 80%;
}
.reservation_check_cancel .bg .check_cancel .wrap .close_progress #progress {
  font-size: 1.125rem;
  font-weight: 600;
  color: #f45858;
  background: #ffebeb;
  padding: 15px 100px;
  border-radius: 10px;
}
.reservation_check_cancel .bg .check_cancel .wrap .close_progress #progress:hover {
  opacity: 80%;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px;
}
main section {
  margin: 0 auto;
  width: 100%;
}
main section .back {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 20px 30px 0;
}
main section .back h1 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}
main section .back p i {
  font-size: 1.25rem;
  padding-right: 15px;
}
main section .reservation_detail_wrap h1 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  padding-bottom: 30px;
}
main section .reservation_detail_wrap .check_in {
  display: flex;
  align-items: center;
}
main section .reservation_detail_wrap .check_in p {
  width: 100%;
  background: #1273e4;
  padding: 10px 20px;
  border-radius: 10px;
}
main section .reservation_detail_wrap .check_in p i {
  color: #fff;
}
main section .reservation_detail_wrap .check_in p span {
  font-size: 0.813rem;
  color: #fff;
  padding-left: 8px;
}
main section .reservation_detail_wrap .room_info {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 0;
}
main section .reservation_detail_wrap .room_info .room_img img {
  width: 160px;
  border-radius: 5px;
}
main section .reservation_detail_wrap .room_info .info {
  width: 100%;
  padding: 5px 0 0 15px;
}
main section .reservation_detail_wrap .room_info .info .room_title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
main section .reservation_detail_wrap .room_info .info .room_title h2 {
  font-size: 1.125rem;
  color: #333;
  font-weight: 600;
}
main section .reservation_detail_wrap .room_info .info .room_title .inquiry {
  font-size: 0.75rem;
  font-weight: 600;
  color: #333;
  padding: 9px 12px;
  background: #ebebeb;
  border-radius: 8px;
}
main section .reservation_detail_wrap .room_info .info .room_title .inquiry:hover {
  background: #e1e1e1;
}
main section .reservation_detail_wrap .room_info .info .room_address {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
}
main section .reservation_detail_wrap .room_info .info .room_address p {
  font-size: 0.875rem;
  color: #999;
}
main section .reservation_detail_wrap .room_info .info .room_address .copy {
  font-size: 0.875rem;
  font-weight: 600;
  color: #1273e4;
  padding-left: 10px;
}
main section .reservation_detail_wrap .room_info .info .room_address .copy:hover {
  text-decoration: underline;
}
main section .reservation_detail_wrap .m_copy_ask_btn {
  display: none;
  width: calc(100% - 40px);
  margin: 0 auto 20px;
}
main section .reservation_detail_wrap .m_copy_ask_btn button {
  display: inline-block;
  width: calc(50% - 5px);
  background: #ebebeb;
  border-radius: 10px;
  padding: 13px;
  font-family: PretendardSemiBold;
}
main section .reservation_detail_wrap .m_copy_ask_btn button i {
  margin-right: 5px;
}
main section .reservation_detail_wrap .container .room_detail {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #f5f5f5;
}
main section .reservation_detail_wrap .container .room_detail .room_type {
  display: flex;
  flex-flow: column nowrap;
}
main section .reservation_detail_wrap .container .room_detail .room_type span {
  font-size: 0.875rem;
  color: #999;
  padding-bottom: 20px;
}
main section .reservation_detail_wrap .container .room_detail .room_type_result p {
  font-size: 0.875rem;
  color: #333;
  padding-bottom: 20px;
}
main section .reservation_detail_wrap .container .room_detail .room_type_result p em {
  font-size: 0.625rem;
  color: #49627A;
  padding: 2px 8px;
  background: #f5f7fa;
  border-radius: 25%;
  margin: 0 10px 0 15px;
}
main section .reservation_detail_wrap .container .room_detail .room_type_result .stick {
  padding-bottom: 50px;
  display: flex;
}
main section .reservation_detail_wrap .container .room_detail .room_type_result .stick p {
  font-size: 0.875rem;
  color: #333;
  padding: 0 15px;
}
main section .reservation_detail_wrap .container .room_detail .room_type_result .stick a {
  font-size: 0.875rem;
  font-weight: 600;
  color: #1273e4;
}
main section .reservation_detail_wrap .container .room_detail .room_type_result .stick a:hover {
  text-decoration: underline;
}
main section .reservation_detail_wrap .container .reservation_info {
  border-bottom: 1px solid #f5f5f5;
}
main section .reservation_detail_wrap .container .reservation_info h2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  padding: 20px 0;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box {
  display: flex;
  flex-flow: row nowrap;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num {
  display: flex;
  flex-flow: column nowrap;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num span {
  font-size: 0.875rem;
  color: #999;
  padding-bottom: 20px;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num .reservation_num::-moz-placeholder {
  color: #f5f5f5;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num .reservation_num::placeholder {
  color: #f5f5f5;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num_result {
  margin-bottom: 30px;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num_result .stick {
  display: flex;
  flex-flow: row nowrap;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num_result .stick p {
  font-size: 0.875rem;
  color: 333;
  padding: 0 10px 20px 15px;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num_result .stick a {
  font-size: 0.875rem;
  font-weight: 600;
  color: #1273e4;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num_result .stick a:hover {
  text-decoration: underline;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num_result p {
  font-size: 0.875rem;
  color: 333;
  padding: 0 0 20px 15px;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num_result .safe_num {
  font-size: 0.875rem;
  color: 333;
}
main section .reservation_detail_wrap .container .reservation_info .reservation_box .reservation_num_result .safe_num em {
  font-size: 0.75rem;
  color: #999;
}
main section .reservation_detail_wrap .container .payment_info {
  padding: 20px 0 40px 0;
}
main section .reservation_detail_wrap .container .payment_info .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
main section .reservation_detail_wrap .container .payment_info .title h2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  padding: 20px 0;
}
main section .reservation_detail_wrap .container .payment_info .title a {
  font-size: 0.75rem;
  font-weight: 600;
  color: #333;
  background: #ebebeb;
  padding: 9px 12px;
  border-radius: 6px;
}
main section .reservation_detail_wrap .container .payment_info .title a:hover {
  background: #e1e1e1;
}
main section .reservation_detail_wrap .container .payment_info .payment {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_day {
  width: calc(50% - 20px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #f5f7fa;
  padding: 16px 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_day .payment_left {
  display: flex;
  flex-flow: column nowrap;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_day .payment_left span {
  font-size: 0.875rem;
  color: #999;
  padding-bottom: 20px;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_day .payment_right {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_day .payment_right span {
  font-size: 0.875rem;
  color: #333;
  padding-bottom: 20px;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_price {
  width: calc(50% - 20px);
  display: flex;
  flex-flow: column nowrap;
  padding: 16px 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_price .all_price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_price .all_price .payment_left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_price .all_price .payment_left span {
  font-size: 0.875rem;
  color: #999;
  padding: 0 0 20px 0;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_price .payment_right {
  display: flex;
  flex-flow: column nowrap;
}
main section .reservation_detail_wrap .container .payment_info .payment .payment_price .payment_right span {
  font-size: 0.875rem;
  color: #333;
  padding-bottom: 20px;
}
main section .reservation_detail_wrap .container .payment_info .payment .sum_price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 1px solid #ebebeb;
  padding: 20px 0;
}
main section .reservation_detail_wrap .container .payment_info .payment .sum_price .price {
  font-size: 0.875rem;
  color: #999;
}
main section .reservation_detail_wrap .container .payment_info .payment .sum_price .all {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f45858;
}
main section .reservation_detail_wrap .container .reservation_cancel .cancel {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding: 30px 0;
}
main section .reservation_detail_wrap .container .reservation_cancel .cancel .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
main section .reservation_detail_wrap .container .reservation_cancel .cancel .title h2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  padding-bottom: 30px;
}
main section .reservation_detail_wrap .container .reservation_cancel .cancel .title a {
  font-size: 0.75rem;
  font-weight: 600;
  color: #f45858;
  background: #FFEBEB;
  padding: 9px 12px;
  border-radius: 6px;
}
main section .reservation_detail_wrap .container .reservation_cancel .cancel .title a:hover {
  background: #ffdada;
}
main section .reservation_detail_wrap .container .reservation_cancel .cancel p {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f45858;
}
main section .reservation_detail_wrap .container .reservation_cancel .policy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px 0;
}
main section .reservation_detail_wrap .container .reservation_cancel .policy p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
}
main section .reservation_detail_wrap .container .reservation_cancel .policy a i {
  color: #999;
}/*# sourceMappingURL=non_member_reservation_check.css.map */