main section {
  max-width: 1400px;
  margin: 0 auto 96px;
  padding: 20px 0 0 23px;
}
main section .raw_tab {
  position: relative;
  margin: 0 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 52px;
  border-bottom: 1px solid #f2f8ff;
}
main section .raw_tab .slider-container {
  display: flex;
  transition: transform 0.5s ease;
}
main section .raw_tab .slider-container h2, main section .raw_tab .slider-container .raw_container .raw_c .contents li .prev h2 span, main section .raw_container .raw_c .contents li .prev h2 .raw_tab .slider-container span {
  margin-right: 15px;
  padding: 16px 10px;
}
main section .raw_tab .slider-container h2 a, main section .raw_tab .slider-container .raw_container .raw_c .contents li .prev h2 span a, main section .raw_container .raw_c .contents li .prev h2 .raw_tab .slider-container span a {
  font-weight: 700;
  color: #70706E;
  font-weight: 500;
}
main section .raw_tab .slider-container h2:first-of-type a, main section .raw_tab .slider-container .raw_container .raw_c .contents li .prev h2 span:first-of-type a, main section .raw_container .raw_c .contents li .prev h2 .raw_tab .slider-container span:first-of-type a {
  color: #1273e4;
  font-weight: 700;
}
main section .raw_tab .slider-container span {
  position: absolute;
  width: 87px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #1273e4;
}
main section .raw_container .raw_c {
  padding: 23px 40px 0;
}
main section .raw_container .raw_c .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main section .raw_container .raw_c .title h1 {
  padding: 16px 0 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
main section .raw_container .raw_c .title .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main section .raw_container .raw_c .title .right > p {
  font-size: 0.8375rem;
  font-weight: 600;
  color: #999;
  padding-right: 16px;
  white-space: nowrap;
}
main section .raw_container .raw_c .title .right .period {
  width: 261px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  min-height: 44px;
  padding: 0 8px 0 18px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
main section .raw_container .raw_c .title .right .period p {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .raw_container .raw_c .title .right .period p i[class*=down] {
  color: #333;
  width: 12px;
  height: auto;
}
main section .raw_container .raw_c .contents li {
  border-bottom: 1px solid #fafafa;
}
main section .raw_container .raw_c .contents li .prev {
  height: 88px;
  line-height: 88px;
  color: #000008;
  padding: 0 38px 0 4px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main section .raw_container .raw_c .contents li .prev h2, main section .raw_container .raw_c .contents li .prev h2 span {
  font-size: 1.063rem;
  font-weight: 700;
}
main section .raw_container .raw_c .contents li .prev h2 span {
  color: #7c90a3;
  margin-right: 10px;
}
main section .raw_container .raw_c .contents li .prev p i [class*=down] {
  font-size: 20px;
  color: #999;
}
main section .raw_container .raw_c .contents li .open {
  padding: 20px 16px;
  background-color: #fafafa;
  overflow: hidden;
  line-height: 26px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.7215686275);
}
main section .raw_container .personal_info .intent {
  padding: 20px 0 0;
}
main section .raw_container .personal_info .intent p {
  line-height: 52px;
  color: rgba(0, 0, 0, 0.7215686275);
}
main section .raw_container .personal_info .major_container .major_info {
  margin-bottom: 10px;
  padding: 1px;
  border: 1px solid #ccc;
  width: 100%;
}
main section .raw_container .personal_info .major_container .major_info tbody {
  text-align: center;
}
main section .raw_container .personal_info .major_container .major_info tbody tr th {
  background-color: #f5f7fa;
  font-size: 1.063rem;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.8);
  padding: 11px 0 9px;
  border: 1px solid #D6D6D6;
  font-weight: 700;
}
main section .raw_container .personal_info .major_container .major_info tbody tr td {
  padding: 15px 12px 16px;
  border: 1px solid #D6D6D6;
  text-align: center;
  vertical-align: top;
}
main section .raw_container .personal_info .major_container .major_info tbody tr td img {
  height: 45px;
  width: 45px;
  margin: 0 auto 12px;
  display: block;
  text-align: center;
}
main section .raw_container .personal_info .major_container .major_info tbody tr td em {
  color: #000;
  font-weight: bold;
  padding-bottom: 7px;
  display: block;
}
main section .raw_container .personal_info .major_container .major_info tbody tr td p {
  color: rgba(0, 0, 0, 0.5607843137);
  line-height: 24px;
}
main section .raw_container .personal_info p {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7215686275);
}
main section .raw_container .raws li {
  border-bottom: 1px solid #fafafa;
}
main section .raw_container .raws li .prev {
  height: 88px;
  line-height: 88px;
  color: #000008;
  padding: 0 38px 0 4px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main section .raw_container .raws li .prev h2, main section .raw_container .raws .raw_c .contents li .prev h2 span, main section .raw_container .raw_c .contents .raws li .prev h2 span {
  display: flex;
  align-items: center;
  font-size: 1.063rem;
  font-weight: 700;
}
main section .raw_container .raws li .prev h2 img, main section .raw_container .raws .raw_c .contents li .prev h2 span img, main section .raw_container .raw_c .contents .raws li .prev h2 span img {
  width: 32px;
  height: 36px;
  margin-right: 10px;
}
main section .raw_container .raws li .prev p i [class*=down] {
  font-size: 20px;
  color: #999;
}
main section .raw_container .raws li .open {
  padding: 20px 16px;
  background-color: #fafafa;
  overflow: hidden;
  line-height: 26px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.7215686275);
}
main section .raw_container .underage_policy .title {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
main section .raw_container .underage_policy .title p {
  margin: 20px 0;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5607843137);
}
main section .raw_container .contents_expression {
  padding: 24px 40px 0;
}
main section .raw_container .contents_expression h1 {
  padding: 16px 0 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
main section .raw_container .contents_expression .contents {
  margin-bottom: 20px;
}
main section .raw_container .contents_expression .contents li {
  color: rgba(0, 0, 0, 0.5607843137);
}/*# sourceMappingURL=raw.css.map */