@import "common";

main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0 96px;
    .business_inquiry_container {
        width:70%;
        margin: 0 auto 50px;
        .business_inquiry_bg {
            .business_inquiry_top {
                display: flex; flex-flow: column nowrap; 
                img {width: 100%;}
                a {
                    display: flex; flex-flow: column nowrap;
                    img {}
                    span {
                        display: block; width: 100%; height: 150px;
                        background-color: #e4e4e4;
                    }
                }
            }
        }
    }
    .new_inquiries_container {
        width:70%;
        margin: 0 auto;
        padding: 0 30px 0;
        #new_inquiries_frm {
            fieldset {
                h1 {
                    font-size: $title18; font-family: $familyBold;
                    margin-bottom: 20px;
                }
                .new_inquiries_box {
                    .new_inquiries {
                        margin-bottom: 20px;
                        input {
                            background-color: $subColor-ip;
                            width: 100%; height: 48px;
                            border-radius: 7px;
                            padding: 0 20px;
                            font-weight: $weight600;
                        }
                        input::placeholder {color: #bdbdbd; font-weight: 300;}
                        .subj {
                            font-size: $small13; font-family: $familySemiBold;
                            margin-bottom: 5px;
                            display: block;
                            .essential {}
                        }
                        .subj::after {
                            content: ''; display: inline-block;
                            background-color: $subColor-r;
                            width: 4px; height: 4px; border-radius: 50%;
                            position: relative; top: -8px;
                        }
                        #company_name {}
                        .reset {
                            display: none;
                            i[class$=xmark] {}
                        }
                    }
                    .new_inquiries:nth-child(2) .subj::after,
                    .new_inquiries:nth-child(5) .subj::after
                    {display: none;}
                }
                .question {
                    background-color: #f5f7fa;
                    border-radius: 5px;
                    padding: 20px;
                    span {
                        font-size: $small12; color: #777;
                        line-height: 1rem;
                        em {
                            font-size: $small13; color: #49627a;
                            font-family: $familySemiBold;
                            display: block; margin-bottom: 10px;
                        }
                    }
                }
                .consent_use_container {
                    margin-top: 30px;
                    .consent_use_agree {
                        display: flex; justify-content: space-between;
                        label {
                            .agreement {
                                display:flex;
                                em {
                                    font-size: $subC14; color: $mainColor-r;
                                }
                                span {font-size: $subC14;}
                            }
                        }
                        .more_btn {
                            i[class*=angle] {color: #bdbdbd;}
                        }
                    }
                    .consent_use_more {
                        // display: none;
                        width: 100%;
                        p {color: #707070; font-size: $subC14; margin-bottom: 20px;}
                        .personal_info, th, td {
                            border: 1px solid #bdbdbd; padding: 10px;
                        }
                        .personal_info {
                            width: 100%;
                            border-collapse: collapse;
                            thead {
                                tr {
                                    th {color: #707070; text-align: center; font-size: $small13;}
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        color: #707070; font-size: $small12;
                                        em {color: #707070; font-size: $small12;}
                                    }
                                }
                            }
                        }
                    }
                }
                .inquire {
                    width: 100%;
                    margin-top: 30px;
                    .inquire_btn {
                        display: block; width: 100%; padding: 20px 0;
                        // background-color: $subColor-btn;
                        color: #d6d6d6; font-weight: $weight600;
                    }
                }
                .precautions {
                    margin-top: 30px;
                    h2 {
                        font-size: $small13; color: #49627a;
                        margin-bottom: 10px;
                    }
                    ul {
                        li {
                            color: #707070; font-size: $small12;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}