@import 'common';

main {
    max-width: $desktop;
    margin: 0 auto;
    padding: 0 40px;
    .container {
        margin: 20px auto 0;
        @include flex-rnsc;
        .lnb {
            position: sticky; top: 24px; left: 0;
            min-width: 155px;
            align-self: flex-start;
            background-color: #fff;
            width: 282px;
            border: 1px solid #ebebeb;
            border-radius: 12px;
            height: fit-content;
            margin-top: 12px;
            ul {
                padding: 4px 0;
                li {
                    border-bottom: 1px solid #ebebeb;
                    height: 60px; width: auto;
                    padding: 0 24px;
                    line-height: 60px;
                    button {
                        @include flex-rnsc;
                        text-align: left;
                        width: 100%; height: 100%;
                        color: #333;
                        font-family: $familySemiBold;
                        i[class*=right] {
                            font-size: 12px;
                            float: right;
                            color:  #c2c2c2;
                        }
                    }
                    .active {
                        color: $mainColor-b;
                    }
                    
                }
                li:last-child {
                    border-bottom: 0;
                }
            }
        }
        .wrap {
            // 공통
            width: 1100px;
            .contents {
                // js
                margin:0 0 96px 24px;
                h1 {
                    margin: 16px 0 20px;
                    line-height: 29px;
                    font-size: $title24;
                    font-family: $familyBold;
                    span {
                        @extend h1;
                    }
                }
                .info {
                    margin-bottom: 12px;
                    background-color: #f5f7fa;
                    border-radius: 10px;
                    line-height: 16px;
                    padding: 12px;
                    p {
                        font-size: $small13;
                        font-family: $familyBold;
                        color: #49627a;
                        i[class*=info] {
                            margin-right: 8px;
                            color: #9aa9b8;
                        }
                    }
                    
                }
                .container_btn {
                    .wrap_btn {
                        position: relative;
                        .btn {
                            color: #707070;
                            font-family: $familyBold;
                            cursor: pointer;
                            height: 52px;
                            line-height: 52px;
                            padding: 0 16px;
                            margin-right: 24px;
                        }
                        .btn.active {
                            position: relative;
                            color: #1273e4;
                        }
                        .btn.active::after {
                            background-color: #1273e4;
                            content: ''; display: block;
                            height: 2px; 
                            position: absolute; bottom: 0; left: 0;
                            width: 100%;
                        }
                    }
                    .wrap_btn::after {
                        position: absolute; bottom: 0; left: 0;
                        background-color: #f5f5f5;
                        content: ''; display: block;
                        height: 1px; width: 100%;
                    }
                }
            }
            // 예약내역
            .reservation {
                // js
                .container_btn {
                    margin-bottom: 40px;
                    section {
                        @include flex-cncf;
                        margin-top: 20px;
                        border-radius: 16px;
                        box-shadow: 0 2px 16px #00000014;
                        padding-left: 24px;
                        height: 200px;
                        em {
                            font-size:$title18 ;
                            font-family: $familySemiBold;
                            line-height: 21px;
                        }
                        p {
                            color: #999;
                            line-height: 17px;
                            margin: 4px 0 16px;
                            font-size: $subC14;
                        }
                        a {
                            border-radius: 8px;
                            height: 40px;
                            width: 120px;
                            font-size: $small13;
                            font-family: $familySemiBold;
                            background-color:#1273e4;
                            color: #fff;
                            text-align: center;
                            line-height: 40px
                        }
                    }
                }
                section {
                    h2 {
                        padding: 16px 0;
                        line-height: 21px;
                        font-size: $title18;
                        font-family: $familyBold;
                    }
                    .text {
                        margin-top: 24px;
                        text-align: center;
                        p {
                            color: #c2c2c2;
                            line-height: 20px;
                            margin: 0 0 8px;
                        }
                    }
                }
            }
            // 포인트
            .user_point {
                // js
                .box {
                    border-radius: 12px;
                    background-color: #f2f8ff;
                    padding: 20px;
                    .user_point_info {
                        margin-bottom: 10px;
                        p {
                            font-size: $subC14;
                            font-family: $familySemiBold;
                            color: #1273e4;
                            button {
                                float: right;
                                i[class*=info] {
                                    font-size: 15px;
                                    cursor: pointer;
                                    color:rgb(183, 213, 246);
                                }
                            }
                        }
                        em {
                            color: #1273e4;
                            font-size: 2rem;
                            font-family: $familyBold;
                            span {
                                @extend em;
                            }
                        }
                    }
                    .point_disappear {
                        border-top: 1px solid #ebebeb;
                        cursor: unset;
                        p {
                            margin-top: 10px;
                            color: #999;
                            font-size: $small12;
                            span {
                                @extend p;
                            }
                        }
                    }
                }
                .point_popup {
                    background-color:rgba(0,0,0,.48) ;
                    position: fixed; top: 0; left: 0;
                    height: 100vh; width: 100vw;
                    margin: 0 auto;
                    display: flex; align-items: center; justify-content: center;
                    .popup_box {
                        background-color: #fff;
                        border-radius: 10px;
                        box-shadow: 0 2px 16px #00000014;
                        padding-top: 16px;
                        width: 335px;
                        h2 {
                            margin: 12px 0 8px;
                            padding: 0 20px;
                            font-size: $title18;
                            font-family: $familyBold;
                        }
                        ul {
                            overflow-y: auto;
                            padding: 8px 20px 4px;
                            li {
                                color: #0000008f;
                                padding: 4px 0 2px;
                                line-height: 24px;
                            }
                            li::before {
                                position: relative; top: -4px;
                                content: ''; width: 3px; height: 3px;
                                display: inline-block;
                                border-radius: 50%;
                                background-color: #9aa9b8;
                                margin-right: 3px;
                            }
                        }
                        .btn {
                            margin: 20px;
                            .close {
                                box-sizing: border-box;
                                cursor: pointer;
                                padding: 0 18px;
                                background-color: #1273e4;
                                height: 48px; width: 100%;
                                border-radius: 10px;
                                line-height: 18px;
                                color: #fff;
                                font-family: $familySemiBold;
                            }
                        }
                    }
                }
                section {
                    .point_details_btn {
                        margin-top: 20px;
                        height: 44px;
                        ul {
                            @include flex-rnfc;
                            li {
                                margin-right: 6px;
                                button {
                                    border: 2px solid #ededed;
                                    padding: 8px 16px;
                                    cursor: pointer;
                                    border-radius: 100px;
                                    height: 32px;
                                    font-size: $small13;
                                    font-family: $familySemiBold;
                                }
                                button.active {
                                    background-color: #1273e4;
                                    color: #fff;
                                    border: 2px solid #1273e4;
                                }
                            }
                        }
                    }
                    .point_info_text {
                        margin-top: 20px;
                        height: 128px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        p {
                            color: #999;
                            margin-bottom: 8px;
                            font-size: $title18;
                            font-family: $familyBold;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {
    main {
        max-width: $notebook;
    }
}
@media screen and (max-width:899px) {
    main {
        padding: 0;
        max-width:$tablet ;
        .container {
            .lnb {
                display: none;
            }
            .wrap {
                .coupon {
                    .top {
                        .right {
                            .popup_bg {
                                background: #fff !important;
                                // js
                                display: none !important;
                                .contents {
                                    width: 100vw; height: 100vh;
                                    font-family: $familySemiBold;
                                    .text {
                                        padding: 0 20px !important;
                                        min-height: 100px !important;
                                    }
                                }
                            }
                        }
                    }
                    .contents_coupon {
                        .wrap_contents {
                            .coupon_grid {
                                grid-template-columns: repeat(1,1fr) !important;
                            }
                        }
                    }
                }
                .user_info {
                    #user_info_from {
                        fieldset {
                            .view_user_info {
                                .user_text {
                                    grid-template-columns: repeat(1,100%) !important;
                                }
                                .view {
                                    padding-bottom: 50px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:599px) {
    main {
        max-width: $phone;
    }
}